.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.active {
  display: none;
}
.collapsible {
  color: #fff;
  border: 2px solid #5b90b7;
  background: #5b90b7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  margin-right: 8px;
  height: auto;
  padding: 12px 40px;
  font-size: 10px;
  color: #5b90b7;
  border: 2px solid;
  background: transparent;
}
