/* Added css after theme cutomization  */

.white-box {
  margin: -120px 100px 0px 100px;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px #afcdeb;
}
.nav-bar-hover:hover {
  font-size: 30px;
  transition: 0.5s;
  font-weight: 800;
}
