/*------------------------------------------------------------------
[Table of contents]
1.  Global 
2.  Typography 
3.  Helper clases 
4.  Buttons 
5.  Form elements 
6.  Section(height, overlay, parallax) 
7.  Nav bar 
8.  Slider 
9.  Slideshow 
10. Video 
11. Notification & Alerts 
12. Images & Text   
13. Tabs  
14. Page Loaders 
15. Animations 
16. Fact counter 
17. Progress bars 
18. Features 
19. Clients 
20. Team 
21. Pricing tables 
22. Blog(previews, posts, sidebar, widgets, pagination) 
23. Comments
24. Shop 
25. Page Footers 
26. Magnific popup custom style 
27. Box 
28. Hover Elements 
29. Masonry(containers, grids, items) 
30. Paddings & Margins 
31. Text Alignment
-------------------------------------------------------------------*/
/**! 1. Global **/
html {
  font-size: 100%;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  color: #595959;
  background-color: #fff;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}
body ::-moz-selection {
  background: #5b90b7;
  color: #fff;
}
body ::selection {
  background: #5b90b7;
  color: #fff;
}
.gutted {
  padding: 55px 40px 55px;
}
@media all and (max-width: 990px) {
  .gutted {
    padding: 0 0 0;
  }
}
a,
a:hover,
a:focus {
  color: #232323;
  outline: none;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
@media all and (max-width: 767px) {
  img:not(.logo) {
    margin: 0 0 20px;
  }
}
/**! 2. Typography **/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
  line-height: 1.4;
  font-weight: 300;
  color: #444;
}
table,
p {
  font-size: 14px;
  color: #777;
  line-height: 1.7;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
table,
blockquote,
input,
button,
select,
textarea {
  margin-bottom: 24px;
  margin-top: 0;
  padding: 0;
}
h3 {
  font-size: 22px;
}
table th {
  font-weight: 600;
}
hr {
  margin-top: 0;
  margin-bottom: 24px;
  border-top: 1px solid #eeeef7;
}
blockquote,
blockquote p {
  padding: 0;
  border: none;
  background: none;
  font-style: normal;
  color: #777;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
}
p.lead {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.bold {
  font-weight: 600 !important;
}
.large {
  font-weight: 500;
  font-size: 48px;
  line-height: 2;
}
.font-alt {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}
@media all and (max-width: 767px) {
  .large {
    font-size: 32px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h5 {
    font-size: 13px;
  }
  p {
    font-size: 13px;
  }
  p.lead {
    font-size: 15px;
  }
  blockquote {
    font-size: 16px;
  }
}
/* Custom size for Typography */
.main-banner-heading {
  font-size: 50px;
}
/**! 3.  Helper clases **/
.flex-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-align.flex-bottom {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.flex-align.flex-top {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.valign {
  position: relative;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 2;
}
@media all and (max-width: 767px) {
  section .valign {
    top: 0;
    -webkit-transform: none;
    transform: none;
  }
  .text-xs-center {
    text-align: center;
  }
}
.valign-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media all and (max-width: 990px) {
  .valign-child {
    display: block !important;
  }
}
.clearlist,
.clearlist li {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}
.relative {
  position: relative;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.embed-container {
  width: 100%;
  display: inline-block;
  position: relative;
}
a.line-link {
  overflow: hidden;
  position: relative;
}
a.line-link:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
a.line-link:hover {
  color: #5b90b7;
}
a.line-link:hover:after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.right {
  right: 0;
}
.left {
  left: 0;
}
span.type-deleted {
  text-decoration: line-through;
  opacity: 0.5;
}
/**! 4.  Buttons **/
.btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  margin-right: 8px;
  height: auto;
  padding: 12px 40px;
  font-size: 10px;
  color: #5b90b7;
  border: 2px solid;
  background: transparent;
}
.btn:hover,
.btn:focus {
  color: #fff;
  border-color: transparent;
  background: #5b90b7;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn:active {
  cursor: pointer;
  outline: none;
}
.btn.btn-small {
  height: auto;
  padding: 6px 17px;
  font-size: 9px;
  letter-spacing: 1px;
}
.btn.btn-large {
  height: auto;
  padding: 17px 60px;
  font-size: 10px;
}
.btn.btn-color {
  color: #fff;
  border: 2px solid #5b90b7;
  background: #5b90b7;
}
.btn.btn-color:hover,
.btn.btn-color:focus {
  color: #fff;
  border: 2px solid #5b90b7;
}
.btn.btn-border-dark {
  color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.4);
}
.btn.btn-border-dark:hover,
.btn.btn-border-dark:focus {
  border: 2px solid rgba(0, 0, 0, 0.8);
  background: transparent;
}
.btn.btn-circle {
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.btn.btn-round {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.btn-icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  min-width: 0;
  padding: 0;
  line-height: 38px;
  padding: 0 !important;
}
.btn-icon.btn-large {
  width: 50px;
  height: 50px;
  line-height: 49px;
  font-size: 24px;
  min-width: 0;
}
.btn-icon.btn-small {
  width: 30px;
  height: 30px;
  line-height: 29px;
  font-size: 13px;
  min-width: 0;
  padding: 0;
}
.btn-full {
  width: 100%;
}
.parallax .btn,
.image-bg .btn {
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.75);
  background: transparent;
}
.parallax .btn:hover,
.image-bg .btn:hover,
.parallax .btn:focus,
.image-bg .btn:focus {
  color: #111;
  border-color: transparent;
  background: #fff;
}
.image-bg .btn.btn-color,
.btn.btn-color-white {
  color: #555 !important;
  border: 2px solid #fff;
  background: #fff;
}
.image-bg .btn.btn-color:hover,
.btn.btn-color-white:hover,
.image-bg .btn.btn-color:focus,
.btn.btn-color-white:focus {
  opacity: 0.9;
}
.image-bg .btn.btn-color:hover,
.image-bg .btn.btn-color:focus {
  opacity: 0.9;
}
.btn-scroll-down {
  color: #fff;
  font-size: 32px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -16px;
  -webkit-animation: move-down 0.5s infinite alternate;
  animation: move-down 0.5s infinite alternate;
  z-index: 99;
}
.btn-scroll-down:hover {
  color: #fff;
}
@-webkit-keyframes move-down {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes move-down {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
.btn-play {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  z-index: 4;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-play:before {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -5px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #fff;
}
.btn-play:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.btn-play.dark {
  border-color: #292929;
}
.btn-play.dark:before {
  border-color: transparent transparent transparent #292929;
}
@media all and (max-width: 767px) {
  .btn-play {
    width: 65px;
    height: 65px;
    margin-top: -32px;
  }
  .btn-play:before {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    margin-left: -8px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #fff;
  }
}
.btn-play.large {
  height: 120px;
  width: 120px;
  margin-top: -60px;
  margin-left: -60px;
}
.btn-play.large:before {
  margin-top: -18px;
  margin-left: -10px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 31px;
  border-color: transparent transparent transparent #fff;
}
.btn-play.large.dark:before {
  border-color: transparent transparent transparent #292929;
}
.btn-play.inline {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  z-index: 0;
}
@media all and (max-width: 767px) {
  .btn-play.large {
    width: 90px;
    height: 90px;
    margin-top: -45px;
  }
  .btn-play.large:before {
    margin-top: -14px;
    margin-left: -8px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent #fff;
  }
}
/**! 5.  Form elements **/
input,
select,
textarea {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  width: 100%;
  line-height: 1.42857143;
}
form label {
  font-weight: 600;
}
select {
  vertical-align: middle;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 10px 13px;
  font-size: 15px;
  color: #777;
}
select option {
  color: #777;
}
select[multiple] {
  height: auto;
}
input {
  display: inline-block;
  vertical-align: middle;
  color: #777;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #ccc;
  height: 37px;
  padding: 20px 13px;
  font-size: 15px;
}
input:hover,
select:hover {
  border-color: #ccc;
}
input:focus,
select:focus {
  color: #111;
  border-color: #aeaeae;
  outline: none;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
textarea:-webkit-autofill,
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff;
  -webkit-text-fill-color: #999;
  color: #999;
}
input::-webkit-input-placeholder {
  color: #777;
}
input.input-lg,
select.input-lg {
  height: 46px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
}
input.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 11px;
}
textarea {
  font-size: 15px;
  padding: 0px 13px;
  letter-spacing: 1px;
  color: #777;
  border: 0;
  border-bottom: 1px solid #ccc;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 90px;
}
textarea::-webkit-input-placeholder {
  color: #777;
}
textarea:hover {
  border-color: #ccc;
}
textarea:focus {
  color: #111;
  border-color: #aeaeae;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.woocommerce a.button,
input[type="submit"] {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  margin-right: 8px;
  height: auto;
  width: auto;
  padding: 12px 40px;
  font-size: 10px;
  color: #5b90b7;
  border: 2px solid;
  background: transparent;
}
.input-btn {
  position: relative;
}
.input-btn input {
  margin-bottom: 0;
}
.input-btn button {
  cursor: pointer;
  z-index: 0;
  color: #373737;
  border: none;
  background: none;
  position: absolute;
  right: 0px;
  bottom: 10px;
  font-size: 16px;
  margin-bottom: 0;
}
.input-btn button.button-lg {
  font-size: 20px;
}
.input-btn button:hover {
  color: #000;
}
.form-contact input {
  margin-bottom: 15px;
}
.form-contact textarea {
  height: 90px;
  margin-top: 25px;
}
.form-contact button {
  margin-top: 15px;
  float: right;
}
/**! 6. Section(height, overlay, parallax) **/
section {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}
@media all and (max-width: 767px) {
  section {
    padding: 40px 0px;
  }
}
.section-small {
  position: relative;
  overflow: hidden;
}
[data-overlay] {
  position: relative;
}
[data-overlay]:before {
  position: absolute;
  content: "";
  background: #232323;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
[data-overlay] *:not(.container) {
  z-index: 2;
}
[data-overlay].overlay-light:before {
  background: #fff;
}
[data-overlay].overlay-colored:before {
  background: #5b90b7;
}
[data-overlay="1"]:before {
  opacity: 0.1;
}
[data-overlay="2"]:before {
  opacity: 0.2;
}
[data-overlay="3"]:before {
  opacity: 0.3;
}
[data-overlay="4"]:before {
  opacity: 0.4;
}
[data-overlay="5"]:before {
  opacity: 0.5;
}
[data-overlay="6"]:before {
  opacity: 0.6;
}
[data-overlay="7"]:before {
  opacity: 0.7;
}
[data-overlay="8"]:before {
  opacity: 0.8;
}
[data-overlay="9"]:before {
  opacity: 0.9;
}
[data-overlay="10"]:before {
  opacity: 1;
}
[data-overlay="0"]:before {
  opacity: 0;
}
div[data-overlay] h1,
div[data-overlay] h2,
div[data-overlay] h3,
div[data-overlay] h4,
div[data-overlay] h5,
div[data-overlay] h6 {
  color: #fff;
}
div[data-overlay] p,
div[data-overlay] ul {
  color: #fff;
}
.height-100,
.height-90,
.height-80,
.height-70,
.height-60,
.height-50,
.height-40,
.height-30,
.height-20,
.height-10 {
  height: auto;
  padding: 9em 0 7em;
}
@media all and (max-width: 767px) {
  .height-100,
  .height-90,
  .height-80,
  .height-70,
  .height-60,
  .height-50,
  .height-40,
  .height-30,
  .height-20,
  .height-10 {
    height: auto;
    padding: 8em 0 6em;
    text-align: center;
  }
}
@media all and (min-height: 600px) and (min-width: 767px) {
  .height-10 {
    height: 10vh;
  }
  .height-20 {
    height: 20vh;
  }
  .height-30 {
    height: 30vh;
  }
  .height-40 {
    height: 40vh;
  }
  .height-50 {
    height: 50vh;
  }
  .height-60 {
    height: 60vh;
  }
  .height-70 {
    height: 70vh;
  }
  .height-80 {
    height: 80vh;
  }
  .height-90 {
    height: 90vh;
  }
  .height-100 {
    height: 100vh;
  }
}
.parallax {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.image-holder {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.bg-dark {
  background: #292929;
}
.bg-dark:not(nav):not(.nav-container) h1,
.bg-dark:not(nav):not(.nav-container) h2,
.bg-dark:not(nav):not(.nav-container) h3,
.bg-dark:not(nav):not(.nav-container) h4,
.bg-dark:not(nav):not(.nav-container) h5,
.bg-dark:not(nav):not(.nav-container) h6 {
  color: #fff;
}
.bg-dark:not(nav):not(.nav-container) p,
.bg-dark:not(nav):not(.nav-container) span,
.bg-dark:not(nav):not(.nav-container) blockquote {
  color: #d1d1d1;
}
.bg-light {
  background: #f5f5f5;
}
.bg-colored {
  background: #5b90b7;
}
.bg-colored * {
  color: #fff;
}
.parallax[data-overlay] h1,
.parallax[data-overlay] h2,
.parallax[data-overlay] h3,
.parallax[data-overlay] h4,
.parallax[data-overlay] h5,
.parallax[data-overlay] h6,
.parallax[data-overlay] p,
.parallax[data-overlay] span,
.parallax[data-overlay] li,
.parallax[data-overlay] a,
.parallax[data-overlay] i {
  color: #fff;
}
.image-bg h1,
.image-bg h2,
.image-bg h3,
.image-bg h4,
.image-bg h5,
.image-bg h6,
.image-bg p,
.image-bg span,
.image-bg li,
.image-bg a,
.image-bg i,
.image-bg blockquote {
  color: #fff;
}
#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
/**! 7.  Nav bar **/
/*---------- 7. NAVIGATION ----------*/
.nav-container {
  -webkit-backface-visibility: hidden;
  max-width: 100%;
}
nav {
  background: #fff;
  -webkit-backface-visibility: hidden;
  max-width: 100%;
}
nav ul {
  margin-bottom: 0;
}
.nav-block {
  display: inline-block;
  padding: 0 32px;
}
.nav-block-group {
  display: inline-block;
}
.nav-block.left,
.nav-block-group.left {
  float: left;
}
.nav-block.right,
.nav-block-group.right {
  float: right;
}
nav .btn,
.nav-bar .btn {
  margin: 0;
  height: auto;
}
.nav-utility {
  font-size: 13px;
  height: 45px;
  line-height: 43px;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
}
.nav-utility i {
  position: relative;
  top: 1px;
}
.nav-bar {
  height: 55px;
  max-height: 55px;
  line-height: 53px;
}

nav.fixed .nav-bar {
  -webkit-box-shadow: 0px 0px 60px 0px#1e70c9;
  box-shadow: 0px 0px 60px 0px #1e70c9;
}
.nav-bar .nav-block,
.nav-bar .nav-block-group {
  height: 55px;
}
.nav-bar a {
  display: inline-block;
  height: 55px;
}
.logo {
  max-height: 60%;
}
.logo-light {
  display: none;
}
nav.nav-centered .logo {
  max-height: 64px;
  margin: 64px 0 40px 0;
}
nav.bg-dark .logo-light {
  display: inline !important;
}
nav.bg-dark .logo-dark {
  display: none !important;
}
.has-dropdown {
  padding-right: 18px;
}
.has-dropdown:after {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  content: "\e64b";
  font-family: "themify";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
.menu {
  width: 100%;
  height: 55px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}
.menu.inline-block {
  width: auto;
}
.menu li a {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #292929;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-width: 100%;
  white-space: normal;
}
.menu li a:hover {
  opacity: 1 !important;
}
.menu > li {
  margin-right: 32px;
  float: left;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
.menu > li:last-child {
  margin-right: 0;
}
.menu > li:last-child > ul,
.menu > li::nth-last-child(2) > ul {
  right: 0;
}
.menu > li:last-child > ul ul,
.menu > li:nth-last-child(2) > ul ul {
  left: auto;
  right: 100%;
}
.menu > li ul {
  width: 200px;
  padding: 8px 0;
  background: #292929;
  position: absolute;
  z-index: 99;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  margin-top: -1px;
}
.menu > li > ul > li {
  position: relative;
  line-height: 24px;
  width: 100%;
  vertical-align: top;
}
.menu > li > ul > li i {
  display: inline-block;
  margin-right: 2px;
}
.menu > li > ul > .has-dropdown:after {
  color: #fff;
  top: 5px;
  right: 24px;
  content: "\e649";
}
.menu > li > ul li a {
  color: #fff;
  height: auto;
  padding: 6px 24px;
}
.menu > li > ul > li > ul {
  left: 100%;
  top: 0;
}
.menu > li:hover > ul {
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  visibility: visible;
}
.menu > li > ul > li:hover > ul,
.has-dropdown:hover .mega-menu ul {
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  visibility: visible;
}
.mega-menu {
  width: auto !important;
  white-space: nowrap;
  line-height: 24px;
}
.mega-menu ul {
  position: relative !important;
  left: auto !important;
  padding: 0 !important;
}
.mega-menu > li {
  width: 200px !important;
  overflow: hidden;
  display: inline-block;
}
.mega-menu .title {
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  padding: 6px 24px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
}
.make-right {
  right: 0;
}
.nav-block.nav-widget {
  padding: 0 14px;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
}
@media only screen and (min-width: 991px) {
  .nav-block.nav-widget:nth-child(2) {
    margin-left: 10px;
  }
  .nav-block.nav-widget:last-child {
    margin-right: 18px;
  }
}
@media all and (max-width: 1100px) {
  .nav-block.nav-widget {
    padding: 0 16px;
  }
}
.nav-block.nav-widget i {
  font-size: 16px;
  line-height: 53px;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-block.nav-widget:hover i,
.nav-block.active i {
  opacity: 1;
}
.nav-widget .function {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  cursor: default;
  width: 200px;
  background: #292929;
  position: absolute;
  z-index: 99;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  margin-top: -2px;
  right: 0;
}
.nav-block.nav-widget:hover .function {
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  visibility: visible;
}
.nav-block.nav-widget .title {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  display: none;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-block.nav-widget .title:hover {
  opacity: 1;
}
.nav-widget .cart {
  position: relative;
}
.nav-widget .cart .label {
  width: 15px;
  height: 15px;
  font-size: 8px;
  line-height: 15px;
  padding: 0;
  text-align: center;
  position: absolute;
  background: #5b90b7;
  top: 10px;
  right: -10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.search-popup {
  display: none;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.95;
  height: 100vh;
  width: 100%;
  z-index: 999;
}
.search-popup .trigger-search-close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
}
.search-popup .trigger-search-close:before,
.search-popup .trigger-search-close:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #999;
  display: inline-block;
  position: absolute;
  top: 50%;
}
.search-popup .trigger-search-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.search-popup .trigger-search-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.search-form input {
  margin-top: 10px;
  width: 90%;
  background: transparent;
  text-transform: initial;
  border: 0px;
  font-size: 22px;
  font-weight: 300;
  border-bottom: 1px solid #777;
}
.search-form input::-webkit-input-placeholder {
  color: #444;
}
.search-form input:focus {
  -webkit-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.search-form button {
  cursor: pointer;
  z-index: 0;
  color: #373737;
  border: none;
  background: none;
  position: relative;
  right: 28px;
  bottom: 0;
  font-size: 20px;
}
.search-form input {
  -webkit-border-radius: 0;
  border-radius: 0;
}
nav .widget {
  margin: 0;
  padding: 24px;
}
nav .widget .title {
  display: none !important;
}
nav .widget,
nav .widget a:not(.btn) {
  color: #fff;
}
nav .widget hr {
  border-color: #777;
  margin-bottom: 16px;
}
nav .widget hr:first-of-type {
  display: none;
}
.cart-widget .function {
  width: auto;
  background: #fff;
}
.cart-widget .function span {
  color: #555 !important;
  font-size: 13px;
}
nav .cart-preview {
  min-width: 250px;
  margin-bottom: 16px;
}
nav .cart-preview a {
  height: auto;
}
.language .menu > li ul {
  max-width: 150px;
}
.nav-open {
  max-height: 10000px !important;
  height: auto !important;
}
.nav-open .mobile-toggle {
  border-bottom: 1px solid #ccc;
}
@media all and (max-width: 1120px) {
  .menu > li {
    margin-right: 24px;
  }
}
@media all and (max-width: 990px) {
  nav.fixed {
    position: absolute !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  nav.nav-hidden {
    -webkit-transform: translate3d(0, 0px, 0) !important;
    transform: translate3d(0, 0px, 0) !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav-bar,
  .nav-bar .nav-block-group,
  .nav-bar .nav-block {
    height: auto;
    overflow: hidden;
  }
  .nav-bar .nav-block {
    padding: 0 16px;
  }
  .nav-bar .nav-block-group {
    width: 100%;
    padding: 16px 0;
  }
  .nav-bar .nav-block-group .nav-block {
    display: block;
    float: none;
    width: 100%;
  }
  nav.nav-centered .logo {
    margin: 24px 0 16px 0;
    max-height: 40px;
  }
  .menu {
    height: auto;
  }
  .menu.inline-block {
    width: 100%;
  }
  .menu a {
    height: auto;
    line-height: 24px;
    padding: 4px 0;
  }
  .menu li {
    line-height: 24px;
    float: none;
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .menu > li ul {
    position: relative;
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    left: 0;
  }
  .menu > li > ul {
    position: relative;
    opacity: 1;
    visibility: visible;
    display: none;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  .menu > li > ul > .has-dropdown:after {
    content: "\e64b";
  }
  .menu > li > ul > li > ul {
    left: 0;
    display: none;
    padding: 0;
  }
  .menu > li > ul li a,
  .mega-menu .title {
    padding: 4px 16px;
  }
  .has-dropdown .has-dropdown li {
    padding-left: 18px;
  }
  .has-dropdown {
    padding-right: 0;
  }
  .mega-menu {
    margin-left: 0 !important;
  }
  .mega-menu li {
    width: 100% !important;
  }
  .toggle-sub > ul,
  .toggle-sub .mega-menu ul {
    display: block !important;
  }
  .nav-block.nav-widget {
    border-left: none;
    border-top: 1px solid #ccc;
    line-height: 40px;
    min-height: 40px;
  }
  .nav-block.nav-widget .menu {
    line-height: 40px;
  }
  .nav-block.nav-widget .menu li {
    line-height: 40px;
  }
  .nav-block.nav-widget i {
    line-height: 40px;
  }
  .nav-block.nav-widget .title {
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin-left: 8px;
  }
  .nav-widget .function {
    width: 100%;
    position: relative;
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    visibility: visible;
    margin-top: 0;
    display: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .toggle-widget .function {
    display: block !important;
  }
  .nav-widget .cart .label {
    width: 22px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    top: 18px;
  }
  .mobile-toggle {
    border-top: none !important;
    border-bottom: none !important;
  }
  .mobile-toggle i {
    font-size: 28px !important;
  }
  .mobile-toggle.absolute-xs {
    position: absolute;
    top: 0;
  }
  nav.nav-centered .mobile-toggle {
    width: 100%;
  }
  nav.bg-dark .nav-block.nav-widget {
    border-top: 1px solid #444;
  }
  nav.bg-dark .mobile-toggle {
    border-left: 1px solid #444 !important;
  }
  nav.bg-dark .nav-open .mobile-toggle {
    border-bottom: 1px solid #444;
  }
}
nav.nav-hidden {
  -webkit-transform: translate3d(0, -200px, 0);
  transform: translate3d(0, -200px, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav.scrolled {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}
nav.fixed,
nav.absolute {
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
  right: 0;
}
nav.absolute {
  position: absolute;
}
nav.fixed {
  position: fixed;
  visibility: hidden;
  opacity: 0;
}
nav.fixed .nav-utility {
  display: none;
}
nav.fixed.scrolled {
  visibility: visible;
  opacity: 1;
}
nav.transparent {
  background: none;
}
nav.transparent .menu > li > a,
nav.transparent .nav-block.nav-widget i,
nav.transparent .nav-utility {
  color: #fff;
}
nav.transparent .menu > li > a,
nav.transparent .nav-block.nav-widget i {
  opacity: 1;
}
nav.transparent .has-dropdown:after {
  color: #fff;
}
nav.transparent .logo-dark {
  display: none;
}
nav.transparent .logo-light {
  display: inline;
}
@media all and (max-width: 990px) {
  nav.transparent .nav-open {
    background: #fff;
  }
  nav.transparent .nav-open .menu > li > a,
  nav.transparent .nav-open .nav-block.nav-widget i,
  nav.transparent .nav-open .nav-utility {
    color: #292929;
  }
  nav.transparent .nav-open .logo-dark {
    display: inline;
  }
  nav.transparent .nav-open .logo-light {
    display: none;
  }
  nav.transparent .nav-open .has-dropdown:after {
    color: #292929;
  }
  .menu > li:last-child > ul ul,
  .menu > li:nth-last-child(2) > ul ul {
    right: 0;
  }
}
nav.transparent.fixed {
  background: #fff;
}
nav.transparent.fixed .logo-light {
  display: none;
}
nav.transparent.fixed .logo-dark {
  display: inline;
}
nav.transparent.fixed .menu > li > a,
nav.transparent.fixed .nav-block.nav-widget i {
  color: #292929;
}
nav.transparent.fixed .menu > .has-dropdown:after {
  color: #fff;
  color: #939393;
}
nav.transparent.fixed .menu > li > a,
nav.transparent.fixed .nav-block.nav-widget i {
  opacity: 0.7;
}
nav.bg-dark .menu > li > a,
nav.bg-dark .nav-block.nav-widget i,
nav.bg-dark .nav-utility {
  color: #fff;
  opacity: 0.9;
}
nav.bg-dark .has-dropdown:after {
  color: #fff;
}
nav.bg-dark .nav-utility {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
nav.transparent.fixed.bg-dark {
  background: #292929;
}
nav.transparent.fixed.bg-dark .menu > li > a,
nav.transparent.fixed.bg-dark .nav-block.nav-widget i {
  color: #fff;
}
nav.nav-centered.nav-hidden .logo {
  display: none;
}
.offscreen-nav {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}
.offscreen-nav .nav-bar {
  line-height: initial;
}
.offscreen-nav .logo {
  max-height: 70%;
  position: relative;
  top: 7px;
}
.gutted .offscreen-nav .nav-bar {
  padding: 0 15px !important;
}
.offscreen-cont {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-color: #222;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  overflow-x: hidden;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.offscreen-cont.nav-is-open {
  visibility: visibility;
  opacity: 0.98;
}
.offscreen-nav .offscreen-toggle {
  z-index: 101;
}
.nav-bar .ham {
  display: inline-block;
  width: 23px;
  height: 2px;
  position: relative;
  top: 2px;
  vertical-align: bottom;
  background: #292929;
  white-space: nowrap;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
@media all and (max-width: 990px) {
  .nav-bar .ham {
    vertical-align: initial;
  }
}
.nav-bar .ham:before {
  top: -8px;
}
.nav-bar .ham:after {
  top: 8px;
}
.nav-bar .ham:after,
.nav-bar .ham:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 23px;
  height: 2px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  outline: 1px solid transparent;
  left: 0;
  background: #292929;
}
.nav-bar.exit {
  -webkit-animation: none;
  animation: none;
}
.nav-bar.exit .ham {
  background-color: transparent;
}
.nav-bar.exit .ham:before {
  background-color: #fff;
  -webkit-transform: translateY(8px) rotateZ(-45deg);
  transform: translateY(8px) rotateZ(-45deg);
}
.nav-bar.exit .ham:after {
  background-color: #fff;
  -webkit-transform: translateY(-8px) rotateZ(45deg);
  transform: translateY(-8px) rotateZ(45deg);
}
.offscreen-cont li h2 {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 16px;
}
.offscreen-cont .social-links {
  margin-top: 45px;
}
.offscreen-cont .social-links a {
  color: #d2d2d2;
}
.offscreen-cont .social-links a i {
  font-size: 22px;
}
nav.bg-dark .nav-utility,
nav.transparent .nav-utility {
  border-color: rgba(255, 255, 255, 0.1);
}
nav.bg-dark .nav-utility .btn,
nav.transparent .nav-utility .btn {
  border-color: #fff;
  color: #fff;
}
nav.bg-dark .nav-utility .btn:hover,
nav.transparent .nav-utility .btn:hover {
  background-color: #fff;
  color: #444;
}
/**! 8.  Slider **/
section.slider {
  padding: 0 !important;
  overflow: hidden;
  position: relative;
}
section.slider .owl-theme .owl-controls .owl-nav div.owl-prev,
section.slider .owl-theme .owl-controls .owl-nav div.owl-next {
  color: #fff;
}
.slides {
  margin: 0;
  overflow: hidden;
}
.slides li > [class*="col-"]:first-child:last-child:not([class*="offset"]) {
  width: 100% !important;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slider .slides li {
  position: relative;
  padding: 6.5em 0;
}
.slider:hover .flex-direction-nav a {
  opacity: 1;
}
.slider.height-10 {
  height: auto;
}
.slider.height-10 .slides li {
  height: 10vh;
  padding: 0;
}
.slider.height-20 {
  height: auto;
}
.slider.height-20 .slides li {
  height: 20vh;
  padding: 0;
}
.slider.height-30 {
  height: auto;
}
.slider.height-30 .slides li {
  height: 30vh;
  padding: 0;
}
.slider.height-40 {
  height: auto;
}
.slider.height-40 .slides li {
  height: 40vh;
  padding: 0;
}
.slider.height-50 {
  height: auto;
}
.slider.height-50 .slides li {
  height: 50vh;
  padding: 0;
}
.slider.height-60 {
  height: auto;
}
.slider.height-60 .slides li {
  height: 60vh;
  padding: 0;
}
.slider.height-70 {
  height: auto;
}
.slider.height-70 .slides li {
  height: 70vh;
  padding: 0;
}
.slider.height-80 {
  height: auto;
}
.slider.height-80 .slides li {
  height: 80vh;
  padding: 0;
}
.slider.height-90 {
  height: auto;
}
.slider.height-90 .slides li {
  height: 90vh;
  padding: 0;
}
.slider.height-100 {
  height: auto;
}
.slider.height-100 .slides li {
  height: 100vh;
  padding: 0;
}
.slider[data-animation="slide"] .slides li {
  -webkit-backface-visibility: hidden;
}
@media all and (max-width: 767px) {
  .slider[class*="height-"] .slides li {
    height: auto;
    padding: 6.5em 0;
  }
}
.owl-theme .owl-controls {
  margin: 0;
}
.owl-theme .owl-controls .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 1.625em;
  z-index: 99;
  text-align: center;
}
.owl-theme .owl-controls .owl-dots .owl-dot {
  display: inline-block;
  margin: 0 0.40625em;
  overflow: hidden;
}
.owl-theme .owl-controls .owl-dots .owl-dot span {
  display: inline-block;
  height: 6px;
  width: 6px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  -webkit-transition: 0.2 linear;
  transition: 0.2 linear;
}
.owl-theme .owl-controls .owl-dots .owl-dot span:hover {
  background: #fff;
}
.owl-theme .owl-controls .owl-dots .owl-dot.active span {
  background: #fff;
}
.owl-theme .owl-controls .owl-nav {
  position: absolute;
  z-index: 99;
  top: 50%;
  width: 100%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.owl-theme .owl-controls .owl-nav div {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  margin: 0;
  padding: 0;
  background: none;
}
.owl-theme .owl-controls .owl-nav div:before {
  font-family: "sparkicons";
  text-align: center;
}
.owl-theme .owl-controls .owl-nav div.owl-next,
.owl-theme .owl-controls .owl-nav div.owl-prev {
  position: absolute;
  top: 50%;
  font-size: 32px;
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  z-index: 7;
}
.owl-theme .owl-controls .owl-nav div.owl-next:after,
.owl-theme .owl-controls .owl-nav div.owl-prev:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.owl-theme .owl-controls .owl-nav div.owl-next:after {
  left: 3px;
}
.owl-theme .owl-controls .owl-nav div.owl-prev:after {
  right: 3px;
}
.owl-theme .owl-controls .owl-nav div.owl-next {
  right: -1px;
  -webkit-transform: translateX(30%) translateY(-50%);
  transform: translateX(30%) translateY(-50%);
  opacity: 0;
}
.owl-theme .owl-controls .owl-nav div.owl-prev {
  left: -1px;
  -webkit-transform: translateX(-30%) translateY(-50%);
  transform: translateX(-30%) translateY(-50%);
  opacity: 0;
}
.owl-theme .owl-controls .owl-nav div.owl-next:before,
.owl-theme .owl-controls .owl-nav div.owl-prev:before {
  font-size: 54px;
}
.owl-theme .owl-controls .owl-nav div.owl-next:before {
  content: "\e905";
}
.owl-theme .owl-controls .owl-nav div.owl-prev:before {
  content: "\e904";
}
.owl-theme:hover .owl-controls .owl-nav div.owl-next,
.owl-theme:hover .owl-controls .owl-nav div.owl-prev {
  -webkit-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%);
  opacity: 1;
}
.slider.slider-controlsoutside {
  overflow: visible;
}
.slider.slider-controlsoutside .slides li {
  padding: 0;
}
.slider.slider-controlsoutside[data-pagination="true"]
  .owl-theme
  .owl-controls
  .owl-dots {
  position: relative;
  bottom: 0;
}
.slider.slider-controlsoutside[data-pagination="true"]
  .owl-theme
  .owl-controls
  .owl-dots
  .owl-dot {
  display: inline-block;
}
.slider.slider-controlsoutside[data-pagination="true"]
  .owl-theme
  .owl-controls
  .owl-dots
  .owl-dot
  span {
  background: #232323;
  border-color: #232323 !important;
  display: inline-block !important;
}
.owl-dot {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.owl-dot.active {
  position: relative;
  bottom: -2px;
}
.owl-dot.active span {
  background: transparent !important;
  width: 10px !important;
  height: 10px !important;
  border: 2px solid #fff !important;
}
@media all and (max-width: 767px) {
  .owl-prev,
  .owl-next {
    display: none !important;
  }
}
.slider:not(section) .slides li {
  padding: 0;
}
.slider--animate div[class*="col-"] {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
}
.slider--animate .active div[class*="col-"] {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/**! 9.  Slideshow **/
.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: slideShow 24s linear infinite 0s;
  animation: slideShow 24s linear infinite 0s;
}
.slideshow.slide-1 {
  opacity: 1;
}
.slideshow.slide-2 {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
.slideshow.slide-3 {
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}
/**! 10. Video **/
video:-webkit-full-screen,
audio:-webkit-full-screen {
  -webkit-transform: translateY(0%);
}
iframe {
  border: none;
}
.player {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
@media all and (max-width: 767px) {
  .player {
    display: none;
  }
}
video {
  max-width: 100%;
}
.local-video-container {
  position: relative;
  margin-bottom: 24px;
}
.local-video-container video {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.local-video-container .image-holder {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.image-holder.fadeout {
  opacity: 0;
  z-index: 0;
}
@media all and (max-width: 767px) {
  video {
    max-width: 100% !important;
  }
}
/**! 11. Notification & Alerts **/
.notify {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.95);
  bottom: 30px;
  left: 30px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.notify .notify-inner {
  color: #fff;
}
.notify p {
  color: #e8e8e8;
}
.notify-sm {
  width: 300px;
  height: 100px;
  padding: 10px;
  font-size: 13px;
}
.notify-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.notify-close::before,
.notify-close::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 60%;
  top: 50%;
  left: 50%;
  background: #6e6e6e;
}
.notify-close:hover::before,
.notify-close:hover::after {
  background: #fff;
}
.notify-close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.notify-close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.alert {
  padding: 15px 20px;
  border: 0;
  border-left: 3px solid transparent;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.alert-success {
  color: inherit;
  background-color: transparent;
  border-color: #6ecf5c;
}
.alert-info {
  color: inherit;
  background-color: transparent;
  border-color: #1870e6;
}
.alert-warning {
  color: inherit;
  background-color: transparent;
  border-color: #facf78;
}
.alert-danger {
  color: inherit;
  background-color: transparent;
  border-color: #f66980;
}
/**! 12. Images & Text **/
.image-edge .container {
  position: relative;
}
.image-edge .container div[class*="col-"] {
  position: absolute;
}
@media all and (max-width: 990px) {
  .image-edge .container div[class*="col-"] {
    position: relative;
    top: 0;
    -webkit-transform: none;
    transform: none;
  }
}
.image-square {
  height: 50vw;
  max-height: 640px;
  overflow: hidden;
  padding: 0;
}
.image-square .image,
.image-square > .content {
  position: absolute;
}
.image-square .image {
  height: 100%;
}
.image-square > .content {
  padding: 0 10%;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.image-square.left .image {
  left: 0;
}
.image-square.left > .content {
  right: 0;
}
.image-square.right .image {
  right: 0;
}
.image-square.right > .content {
  left: 0;
}
@media all and (max-width: 990px) {
  .image-square {
    height: auto;
    max-height: 10000px;
    padding-bottom: 48px;
  }
  .image-square .image,
  .image-square > .content {
    position: relative;
  }
  .image-square .image {
    height: 100vw;
    margin-bottom: 48px;
    max-height: 500px;
  }
  .image-square > .content {
    top: 0;
    -webkit-transform: none;
    transform: none;
    padding: 0 20%;
  }
}
@media all and (max-width: 767px) {
  .image-square > .content {
    padding: 0 15px;
  }
}
/**! 13. Tabs **/
.tabs {
  overflow: hidden;
}
.tabs li {
  display: inline-block;
  cursor: pointer;
}
.button-tabs .tabs {
  display: inline-block;
  overflow: hidden;
}
.button-tabs .tabs > li {
  margin-bottom: 8px;
  margin-right: 10px;
  float: left;
}
.button-tabs .tabs > li:last-child {
  margin-right: 0;
}
.button-tabs .tab-title {
  padding: 13px;
  display: inline-block;
  text-align: center;
  min-width: 120px;
  border: 2px solid #fff;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #969696;
}
.button-tabs .tab-title span {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 400;
}
.button-tabs .active .tab-title {
  border: 2px solid #5b90b7;
  color: #777;
}
.button-tabs .tab-title:hover {
  color: #777;
}
@media all and (max-width: 767px) {
  .button-tabs .tabs li {
    width: 49%;
    margin-bottom: 15px;
  }
}
.tabbed-content .content {
  overflow: hidden;
  position: relative;
}
.tabbed-content .content > li.active .tab-content {
  -webkit-animation: fadeIn 0.85s ease forwards;
  animation: fadeIn 0.85s ease forwards;
}
.tabbed-content .content > li:not(.active) {
  position: absolute;
  top: 0;
  pointer-events: none;
}
.tabbed-content .content > li:not(.active) .tab-content {
  display: block;
  pointer-events: none;
  -webkit-animation: fadeOut 0.5s ease forwards;
  animation: fadeOut 0.5s ease forwards;
}
.text-tabs .tabs {
  padding-bottom: 16px;
  border-bottom: 1px solid #c1c1c1;
  overflow: visible;
}
.text-tabs.no-border .tabs {
  border-bottom: none;
}
.text-tabs .tab-title {
  -webkit-touch-callout: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 24px;
  opacity: 0.5;
  position: relative;
}
.text-tabs .tab-title span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}
.text-tabs .tab-title:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #5b90b7;
  bottom: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: -17px;
  left: 0;
}
.text-tabs .active .tab-title {
  opacity: 1;
  color: #5b90b7;
}
.text-tabs .active .tab-title:after {
  opacity: 1;
}
.text-tabs .tab-title:hover {
  opacity: 1;
}
@media all and (max-width: 767px) {
  .text-tabs .tabs {
    padding-bottom: 0;
  }
  .text-tabs .tabs li {
    width: 49%;
    margin-bottom: 15px;
  }
  .text-tabs .tab-title:after {
    display: none;
  }
  .text-tabs:not(.text-center) .tabs li:first-child .tab-title {
    padding-left: 24px;
  }
}
.image-bg .text-tabs .tabs {
  border-bottom: 0;
}
.image-bg .text-tabs .tab-title {
  opacity: 0.75;
}
.image-bg .text-tabs .active .tab-title,
.image-bg .text-tabs .tab-title:hover {
  opacity: 1;
}
.icon-tabs .tabs li {
  margin-right: 130px;
  margin-bottom: 24px;
}
.icon-tabs .tabs li:last-child {
  margin-right: 0;
}
.icon-tabs .tab-title {
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.5;
}
.icon-tabs .tab-title:hover {
  opacity: 1;
}
.icon-tabs .active .tab-title {
  color: #5b90b7;
  opacity: 1;
}
.icon-tabs .active .tab-title i {
  color: #5b90b7;
}
.image-bg .icon-tabs .active .tab-title i {
  color: #fff;
}
.icon-tabs .tab-title i {
  font-size: 48px;
  display: block;
  margin-bottom: 16px;
}
.icon-tabs .tab-title span {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}
@media all and (max-width: 767px) {
  .icon-tabs .tabs li {
    margin-bottom: 16px;
    margin-right: 0;
    width: 49%;
  }
  .icon-tabs .tab-title i {
    font-size: 32px;
  }
}
/**! 14. Page Loaders **/
.loader {
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: fixed;
  opacity: 1;
  z-index: 999;
  pointer-events: none;
}
.loader:before,
.loader:after {
  content: "";
  border: 1px #000 solid;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.loader:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
  -webkit-animation: spWaveBe 0.6s infinite linear;
  animation: spWaveBe 0.6s infinite linear;
}
.loader:after {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  opacity: 0;
  -webkit-animation: spWaveAf 0.6s infinite linear;
  animation: spWaveAf 0.6s infinite linear;
}
.loader.loader-fade {
  opacity: 0;
}
@-webkit-keyframes spWaveAf {
  from {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes spWaveAf {
  from {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
@keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
/**! 15. Animations **/
[class*="transition-"] {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
}
[class*="transition-"].transition-active {
  opacity: 1;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  41% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  41% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/**! 16. Fact counter **/
.fact-item span,
.fact-item i {
  vertical-align: middle;
  font-size: 32px;
}
.fact-item span:first-child,
.fact-item i:first-child {
  margin-right: 15px;
}
.fact-item .focus-number {
  font-size: 42px;
  font-weight: 300;
}
.fact-item .fact-icon {
  margin-right: 15px;
}
.fact-item .fact-desc {
  text-transform: capitalize;
  margin-top: 25px;
}
.card-img {
  width: 100px;
  margin: 10px;
}
.fact-card {
  padding: 30px;
  margin: 10px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgb(201, 221, 242);
  box-shadow: 0 1px 5px 0 rgb(201, 221, 242);
  transition: all 0.3s ease-in;
}
.fact-card:hover {
  box-shadow: 0px 1px 20px #6c97c9;
}
@media all and (max-width: 767px) {
  .fact-item .focus-number {
    font-size: 36px;
  }
}
/**! 17. Progress bars **/
.chartbox {
  margin-bottom: 20px;
}
.chartbox .chartbox-desc {
  margin-bottom: 10px;
  text-align: left;
  font-size: 13px;
}
.chartbox .chartbox-bar {
  width: 100%;
  height: 3px;
  background-color: #e5e5e5;
  position: relative;
}
.chartbox .chartbox-bar .chartbox-bar-progress {
  background-color: #5b90b7;
  height: 100%;
  width: 50%;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.chartbox .chartbox-bar .chartbox-bar-progress:after {
  content: attr(data-progress);
  display: inline-block;
  position: absolute;
  right: 0;
  top: -25px;
  font-size: 13px;
}
/**! 18. Features **/
.feature.colored .feature-icon,
.feature.colored .feature-title {
  color: #5b90b7;
}
.feature.feature-1 {
  margin-top: 70px;
  height: 45vh;
  text-align: center;
}
.feature.feature-1:hover {
  background-color: #d1e2f4;
  transition: 0.2s;
  padding: 10px;
}
.feature.feature-1 .feature-icon {
  margin-bottom: 8px;
  padding-top: 10px;
  font-size: 48px;
  line-height: 1.3;
}
.feature.feature-1 .feature-icon img {
  width: 100%;
}
.feature.feature-2 {
  margin: 60px 0 0 0;
  position: relative;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 3px;
  font-size: 13px;
  -webkit-transform: perspective(500px) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.feature.feature-2 .feature-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  font-size: 32px;
}
.feature.feature-2 .feature-title {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 11px;
  letter-spacing: 2px;
}
.image-square .content .feature-2 {
  margin-top: 0;
  padding-right: 0;
}
/**! 19. Clients **/
.client-items div {
  display: inline-block;
  opacity: 0.9;
  -webkit-transition: all 0.17s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.17s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.client-items div:hover {
  opacity: 1;
}
/**! 20. Team **/
.person {
  text-align: center;
  margin-bottom: 60px;
}
.person h6 {
  margin: 20px 0 5px;
  font-size: 10px;
  font-weight: 500;
  opacity: 0.5;
}
.person h4 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
}
.person .social-links {
  opacity: 0.5;
}
/**! 21. Pricing tables **/
.pricing-table {
  padding: 30px 50px;
}
.pricing-table p {
  margin-top: 20px;
}
.pricing-table a {
  margin-top: 20px;
}
.pricing-table.active {
  background: #5b90b7;
}
.pricing-table.active a,
.pricing-table.active span,
.pricing-table.active p,
.pricing-table.active h5 {
  color: #fff;
}
.pricing-table.border {
  border: 1px solid #ccc;
}
.price {
  font-size: 4em;
  font-weight: 300;
  color: #444;
}
@media all and (max-width: 767px) {
  .pricing-table {
    margin: 5px 0;
  }
  .price {
    font-size: 56px;
  }
}
/**! 22. Blog(previews, posts, sidebar, widgets, pagination) **/
.blog-post-preview .blog-post-preview-img {
  overflow: hidden;
}
.blog-post-preview .blog-post-preview-img img {
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  width: 100%;
  height: auto;
}
.blog-post-preview .blog-post-preview-title h4 {
  margin: 30px 0 0;
}
.blog-post-preview .blog-post-preview-date {
  line-height: 1;
  color: #888;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 5px 0 20px;
  text-transform: uppercase;
}
.blog-post-preview:hover .blog-post-preview-img img {
  opacity: 0.6;
}
.blog-post .blog-media {
  overflow: hidden;
}
.blog-post .blog-media img {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.blog-post:hover .blog-media img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.blog-post .blog-post-title {
  line-height: 1;
  margin: 20px 0 5px;
  position: relative;
  font-size: 1em;
  font-weight: 400;
  color: #595959;
}
.blog-post .blog-post-date {
  color: #fff;
  background: #5b90b7;
  font-size: 11px;
  text-transform: uppercase;
  padding: 2px 5px;
  margin-right: 5px;
  position: relative;
  top: -5px;
}
.blog-post .blog-post-meta {
  line-height: 1;
  color: #888;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 5px 0 20px;
}
.blog-post .blog-post-meta a {
  color: #888;
}
.blog-post .boxed {
  margin-bottom: 0;
  padding: 1em;
}
.blog-post-single img {
  margin: 40px 0;
}
.blog-post-single img:first-child {
  margin: 0 0 80px;
}
.blog-post-single p {
  font-size: 16px;
  text-align: justify;
  line-height: 26px;
  color: #595959;
}
.blog-post-single h1,
.blog-post-single h2,
.blog-post-single h3,
.blog-post-single h4,
.blog-post-single h5,
.blog-post-single h6 {
  font-weight: 500;
}
.blog-post-single blockquote {
  margin: 60px 0;
  border-left: 5px solid #ccc;
  padding-left: 60px;
  text-align: center;
  font-weight: 400;
  color: #444;
}
.blog-post-single .post-meta {
  color: #444;
  font-size: 13px;
}
/*
 * Post navigation
 */
.post-navigation {
  padding-top: 30px;
  padding-bottom: 30px;
}
.post-navigation .nav-prev {
  width: 33.3333%;
  float: left;
}
.post-navigation .nav-close {
  width: 33.3333%;
  float: right;
  text-align: center;
}
.post-navigation .nav-next {
  width: 33.3333%;
  float: right;
  text-align: right;
}
.post-navigation p {
  display: block;
  letter-spacing: 1px;
  color: #444;
}
.sidebar {
  margin-top: 10px;
}
.widget {
  margin-bottom: 40px;
}
.widget h5,
.widget h6 {
  margin-bottom: 15px;
  font-weight: 400;
}
.widget hr {
  margin-bottom: 18px;
  border-color: #dbdbdb;
}
.widget p {
  font-size: 13px;
}
.widget ul {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
}
.widget ul li {
  padding: 5px 0;
}
.widget ul li:before {
  /* content: '>'; */
}
.widget ul li a {
  color: #555;
  text-decoration: none;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 0;
  -webkit-transition: all 0.17s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.17s cubic-bezier(0, 0, 0.58, 1);
}
.widget ul li a:hover,
.widget ul li a.active {
  color: #999;
}
.widget ul li small {
  font-size: 11px;
  color: #aaa;
}
.widget .tagcloud,
.tags {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}
.widget .tagcloud a,
.tags a {
  display: inline-block;
  margin: 0 2px 5px 0;
  padding: 5px 7px;
  border: 1px solid #6c6b6b;
  color: #777;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.widget .tagcloud a:hover,
.tags a:hover {
  text-decoration: none;
  border-color: #111;
  color: #000;
}
.widget .menu > li {
  margin-right: 0;
  float: none;
  position: static;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
/* Comments */
.widget-comments {
  color: #aaa;
}
.widget-comments li {
  padding: 12px 0;
  border-bottom: 1px dotted #eaeaea;
}
.widget-comments li a {
  color: #555;
  text-decoration: none;
  -webkit-transition: all 0.17s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.17s cubic-bezier(0, 0, 0.58, 1);
}
.widget-comments li a:hover {
  color: #999;
}
.widget .cart-preview img {
  width: 70px;
  padding-right: 2px;
  margin-right: 5px;
}
.widget .cart-preview .cart-descr {
  display: inline-block;
  width: auto;
  line-height: 20px;
}
.widget .cart-preview span {
  display: block;
}
.widget .cart-preview li {
  margin-bottom: 15px;
  overflow: hidden;
}
.widget .cart-preview li:last-child {
  margin-bottom: 0;
}
.widget .cart-preview a {
  color: #555;
  font-size: 13px;
}
.widget .cart-preview a:hover {
  color: #999;
}
.widget-posts {
  color: #aaa;
}
.widget-posts li {
  font-size: 12px;
  padding: 12px 0;
  border-bottom: 1px dotted #eaeaea;
}
.widget-posts li a {
  font-size: 13px;
  display: block;
  color: #555;
  text-decoration: none;
  -webkit-transition: all 0.17s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.17s cubic-bezier(0, 0, 0.58, 1);
}
.widget-posts li a:hover {
  color: #999;
}
.twitter-feed .user,
.twitter-feed .interact {
  display: none;
}
.widget .twitter-feed .timePosted {
  display: none;
}
.widget .tweet {
  margin-bottom: 0;
}
.widget .twitter-feed .slides li {
  margin-bottom: 24px;
}
.widget .twitter-feed .slides li:last-child {
  margin-bottom: 0;
}
.widget .twitter-feed .slides li:nth-of-type(n + 3) {
  display: none;
}
.widget .twitter-feed .slides li:before {
  position: relative;
  top: 6px;
  float: left;
  display: inline-block;
  margin-right: 8px;
  color: #292929;
  content: "\e74b";
  font-family: "themify";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 13px;
}
.widget .twitter-feed p {
  padding-left: 22px;
  position: relative;
}
.bg-dark .widget .twitter-feed .slides li:before {
  color: #fff;
}
.searchform input {
  border: none;
  background: #f6f6f6;
}
.searchform input::-webkit-input-placeholder {
  color: #777;
  font-size: 12px;
}
.searchform .input-btn button {
  color: #777;
  right: 10px;
}
.pagination {
  font-size: 13px;
}
.pagination a {
  display: inline-block;
  min-width: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 14px;
  border: 1px solid #eaeaea;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}
.pagination .fa {
  margin-top: 1px;
  font-size: 16px;
}
.pagination a:hover {
  text-decoration: none;
  border-color: #bbb;
  color: #444;
}
.pagination a.active,
.pagination a.active:hover {
  border-color: #bbb;
  color: #444;
  cursor: default;
}
.pagination a.no-active,
.pagination a.no-active:hover {
  border-color: #efefef;
  color: #bbb;
  cursor: default;
}
/**! 23. Comments**/
.comment-item {
  padding-top: 30px !important;
  border-top: 1px dotted #e9e9e9;
  font-size: 14px;
  overflow: hidden;
}
.comment-item:first-child {
  padding-top: 0;
  border-top: none;
}
.media-body {
  overflow: hidden;
}
.comment-avatar {
  width: 80px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
}
.comment-item-data {
  margin: 0 0 5px;
  font-size: 12px;
  color: #777;
}
.comment-item-data a {
  color: #777;
  text-decoration: none;
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}
.comment-item-data a:hover {
  color: #000;
  text-decoration: none;
}
.comment-author {
  display: inline-block;
  margin-right: 10px;
  font-size: 11px;
  font-weight: 500;
}
.comment-author a {
  color: #999;
  margin-right: 5px;
  font-weight: 700;
}
/**! 24. Shop **/
.shop-single-img {
  position: relative;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}
.shop-single-img img {
  width: 100%;
  height: auto;
}
.shop-single-img span.intro-label {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px 10px;
  background: #f00;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.shop-single-img:hover {
  opacity: 0.75;
}
.shop-single-thumb {
  margin-top: 20px;
}
.shop-single-info p a {
  color: #555;
}
.shop-single-info .social-links a {
  color: #999;
}
.icon-close {
  font-weight: 500;
  margin: 0 5px;
}
.shopping-cart-table td {
  vertical-align: middle;
}
.box {
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.04);
  -webkit-transition: 0.5 linear;
  transition: 0.5 linear;
}
.box .box-body {
  position: relative;
}
.box .box-body.boxed {
  margin-bottom: 0;
}
.box .box-price {
  position: absolute;
  right: 1.625em;
  top: 2.3em;
  color: #767676;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.box .box-price del span {
  text-decoration: line-through;
}
.box .box-price span {
  display: block;
}
.box .box-cart {
  position: absolute;
  right: 2.3em;
  top: 1.2em;
  color: #767676;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.box .box-title h5 {
  font-weight: 500;
  margin-bottom: 10px;
}
.box .box-title p {
  opacity: 0.5;
  margin-bottom: 0;
}
.box:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
}
.box:hover .box-cart {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/**! 25. Page Footers **/
footer.page-footer {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
footer.page-footer .social-links {
  margin-bottom: 24px;
}
footer.page-footer p {
  margin-bottom: 0;
}
.social-links a {
  color: #555;
  margin: 0 10px;
  -webkit-transition: all 0.17s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.17s cubic-bezier(0, 0, 0.58, 1);
}
.social-links a:first-child {
  margin-left: 0;
}
.social-links a:hover {
  color: #444;
}
.social-links a i {
  font-size: 14px;
}
.copy-right {
  margin-top: 20px;
}
.copy-right a {
  color: #888;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
a.back-to-top {
  display: block;
  position: absolute;
  right: 20px;
  font-size: 20px;
}
footer.page-footer-2 {
  position: relative;
  padding: 80px 0 30px;
}
footer.page-footer-2 .footer-logo {
  height: 40px;
}
footer.page-footer-2 .widget hr {
  border: 0;
}
footer.page-footer-2.dark {
  background-color: #303030;
}
footer.page-footer-2.dark span {
  color: #fff;
}
footer.page-footer-2.dark h1,
footer.page-footer-2.dark h2,
footer.page-footer-2.dark h3,
footer.page-footer-2.dark h4,
footer.page-footer-2.dark h5,
footer.page-footer-2.dark h6 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}
footer.page-footer-2.dark p,
footer.page-footer-2.dark i,
footer.page-footer-2.dark a,
footer.page-footer-2.dark li:before {
  color: #fefefe;
}
footer.page-footer-2.dark input {
  color: #fff;
}
footer.page-footer-2.dark input::-webkit-input-placeholder {
  color: #fff;
}
footer.page-footer-2.dark hr.fdelivery {
  border-color: #393939;
}
footer.page-footer-2.dark span.small,
footer.page-footer-2.dark .social-links i {
  color: #8c8c8c !important;
}
footer.page-footer-2.dark .info-text,
footer.page-footer-2.dark .info-text a {
  color: #b8b8b8;
}
footer.page-footer-2.dark .widget-posts li {
  border-bottom: 0;
}
footer.page-footer-2.dark .small {
  font-size: 12px;
  font-weight: 600;
}
footer.page-footer-2.dark .info-text {
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
  display: block;
  line-height: 22px;
}
/**! 26. Magnific popup custom style **/
.mfp-container {
  padding: 0 !important;
}
.mfp-move-horizontal .mfp-anim {
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  opacity: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mfp-move-horizontal .mfp-opacity {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-anim {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 1;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}
/**! 27. Box **/
.boxed {
  position: relative;
  overflow: hidden;
  padding: 2.4375em;
  margin-bottom: 30px;
}
.boxed.boxed--lg {
  padding: 3.65625em;
}
.boxed.boxed--sm {
  padding: 1.625em;
}
.boxed.boxed--border {
  border: 1px solid #c9c9c9;
}
.boxed div[class*="col-"]:first-child:not(.boxed) {
  padding-left: 0;
}
.boxed div[class*="col-"]:last-child:not(.boxed) {
  padding-right: 0;
}
img + .boxed {
  margin-top: -1.625em;
}
@media all and (max-width: 767px) {
  .boxed {
    padding: 1.625em;
    margin-bottom: 15px;
  }
  .boxed.boxed--lg {
    padding: 1.625em;
  }
  .boxed div[class*="col-"]:not(.boxed) {
    padding: 0;
  }
  .boxed:last-child {
    margin-bottom: 15px;
  }
  .row:last-child div[class*="col-"]:last-child .boxed:last-child {
    margin-bottom: 0;
  }
}
/**! 28. Hover Elements **/
.hover-elem {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.hover-elem * {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.hover-elem .hover-elem-description {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.hover-elem .hover-elem-description .boxed {
  height: 100%;
}
.hover-elem:hover .hover-elem-description,
.hover-elem.hover--active .hover-elem-description {
  opacity: 1;
}
.hover-elem img {
  margin-bottom: 0;
}
@media all and (max-width: 1024px) {
  .hover-elem {
    cursor: pointer;
  }
}
.row:last-child div[class*="col-"]:last-child .hover-elem {
  margin-bottom: 0;
}
.hover-elem img {
  width: 100%;
}
.hover-elem * {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.hover-elem[data-title-position*="right"] {
  text-align: right;
}
.hover-elem[data-title-position*=",center"] {
  text-align: center;
}
.hover-elem[data-title-position*="center"] .hover-elem-description .boxed {
  position: absolute;
  height: auto;
  top: 50%;
  width: 100%;
  -webkit-transform: translate3d(10px, -50%, 0);
  transform: translate3d(10px, -50%, 0);
}
.hover-elem[data-title-position*="center"]
  .hover-elem-description:hover
  .boxed {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.hover-elem[data-title-position*="bottom"] .hover-elem-description .boxed {
  position: absolute;
  height: auto;
  bottom: 0;
  width: 100%;
}
.hover-elem .boxed {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  opacity: 0;
}
.hover-elem .boxed span {
  font-size: 13px;
  color: #fff;
}
.hover-elem:hover .boxed {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.hover-elem .social-list li a i {
  color: #fff;
}
.hover-elem h3,
.hover-elem h4 {
  font-weight: 400;
  margin: 0 0 8px 0;
}
/**! 29. Masonry(containers, grids, items) **/
.masonry .masonry-container.masonry-active .masonry-item {
  opacity: 1;
  pointer-events: initial;
}
.masonry .masonry-container .masonry-item {
  opacity: 0;
  pointer-events: none;
}
.masonry .masonry-filters li {
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.masonry .masonry-filters li.active {
  cursor: default;
}
.wide-grid {
  max-width: 100%;
  padding: 0;
}
.wide-grid > div[class*="col-"] {
  padding: 0;
}
.wide-grid .hover-elem {
  margin: 0;
}
.wide-grid .masonry-container {
  background: #f3f3f3;
}
.wide-grid .masonry-container .masonry-item {
  padding: 0;
}
.masonry {
  position: relative;
}
.masonry .masonry-container {
  overflow: hidden;
}
.masonry-gapless .masonry-item {
  padding: 0;
  margin-bottom: 0 !important;
}
.masonry-animate .masonry-item {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
.masonry-animate .masonry-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.masonry-animate .masonry-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.masonry-animate .masonry-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.masonry-animate .masonry-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.masonry-animate .masonry-item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.masonry-animate .masonry-item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.masonry-animate .masonry-item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.masonry-animate .masonry-item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.masonry-animate .masonry-item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
.masonry-animate .masonry-item:nth-child(10) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.masonry-animate .masonry-item:nth-child(11) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}
.masonry-animate .masonry-item:nth-child(12) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
.masonry-animate .masonry-item:nth-child(13) {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}
.masonry-animate .masonry-item:nth-child(14) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
.masonry-animate .masonry-item:nth-child(15) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.masonry-animate.masonry-active .masonry-item {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.masonry-filters {
  padding: 1.625em 0;
}
.masonry-filters .h6 {
  opacity: 0.3;
  position: relative;
  bottom: 2px;
  display: inline-block;
  margin: 0;
}
.masonry-filters .h6 + ul {
  margin-left: 1.625em;
}
.masonry-filters ul {
  display: inline-block;
  margin: 0;
}
.masonry-filters ul li {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #444;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  margin: 0 20px;
  padding: 10px 0px;
  overflow: hidden;
}
.masonry-filters ul li:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #5b90b7;
  opacity: 0;
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.masonry-filters ul li.active:after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.masonry-filters ul li:hover {
  color: #5b90b7;
}
.masonry-filters ul li:hover:after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.masonry-filters.masonry-filters-outside {
  position: absolute;
  width: 100%;
  z-index: 5;
  top: -3.25em;
  background: none !important;
  padding: 0;
}
.masonry-filters.masonry-filters-outside ul li {
  color: #fff;
}
.masonry-filters.masonry-filters-outside ul li:after {
  opacity: 0.2;
}
@media all and (max-width: 767px) {
  .masonry-filters.masonry-filters-outside {
    position: relative;
    top: 0;
    padding: 1.625em 0;
  }
  .masonry-filters.masonry-filters-outside ul li {
    color: #767676;
  }
}
.row .masonry-filters {
  margin-bottom: 1.625em;
  padding-left: 15px;
  padding-right: 15px;
}
.row .masonry-item {
  margin-bottom: 22px;
}
.row .masonry-item .hover-elem {
  margin: 0;
}
.row .masonry-item > a {
  display: block;
}
/**! 30. Paddings & Margins **/
.m-0 {
  margin: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-56 {
  margin-bottom: 56px;
}
.mb-64 {
  margin-bottom: 64px;
}
.mb-72 {
  margin-bottom: 72px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-88 {
  margin-bottom: 88px;
}
.mb-96 {
  margin-bottom: 96px;
}
.mb-104 {
  margin-bottom: 104px;
}
.mb-112 {
  margin-bottom: 112px;
}
.mb-120 {
  margin-bottom: 120px;
}
.mb-160 {
  margin-bottom: 160px;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-56 {
  margin-top: 56px;
}
.mt-64 {
  margin-top: 64px;
}
.mt-72 {
  margin-top: 72px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-88 {
  margin-top: 88px;
}
.mt-96 {
  margin-top: 96px;
}
.mt-104 {
  margin-top: 104px;
}
.mt-112 {
  margin-top: 112px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-160 {
  margin-top: 160px;
}
.p-32 {
  padding: 0 32px;
}
.p-24 {
  padding: 24px;
}
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0;
}
.pt-8 {
  padding-top: 8px;
}
.pt-16 {
  padding-top: 16px;
}
.pt-24 {
  padding-top: 24px;
}
.pt-32 {
  padding-top: 32px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-48 {
  padding-top: 48px;
}
.pt-64 {
  padding-top: 64px;
}
.pt-72 {
  padding-top: 72px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-88 {
  padding-top: 88px;
}
.pt-96 {
  padding-top: 96px;
}
.pt-104 {
  padding-top: 104px;
}
.pt-112 {
  padding-top: 112px;
}
.pt-120 {
  padding-top: 120px;
}
.pt-160 {
  padding-top: 160px;
}
.pt-180 {
  padding-top: 180px;
}
.pt-240 {
  padding-top: 240px;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-8 {
  padding-bottom: 8px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-48 {
  padding-bottom: 48px;
}
.pb-56 {
  padding-bottom: 56px;
}
.pb-64 {
  padding-bottom: 64px;
}
.pb-72 {
  padding-bottom: 72px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-88 {
  padding-bottom: 88px;
}
.pb-96 {
  padding-bottom: 96px;
}
.pb-104 {
  padding-bottom: 104px;
}
.pb-112 {
  padding-bottom: 112px;
}
.pb-120 {
  padding-bottom: 120px;
}
.pb-160 {
  padding-bottom: 160px;
}
.pb-180 {
  padding-bottom: 180px;
}
.pb-240 {
  padding-bottom: 240px;
}
@media all and (max-width: 767px) {
  .mb-xs-0 {
    margin-bottom: 0;
  }
  .mb-xs-8 {
    margin-bottom: 8px;
  }
  .mb-xs-16 {
    margin-bottom: 16px;
  }
  .mb-xs-24 {
    margin-bottom: 24px;
  }
  .mb-xs-32 {
    margin-bottom: 32px;
  }
  .mb-xs-40 {
    margin-bottom: 40px;
  }
  .mb-xs-48 {
    margin-bottom: 48px;
  }
  .mb-xs-64 {
    margin-bottom: 64px;
  }
  .mb-xs-72 {
    margin-bottom: 72px;
  }
  .mb-xs-80 {
    margin-bottom: 80px;
  }
  .mb-xs-88 {
    margin-bottom: 88px;
  }
  .mb-xs-96 {
    margin-bottom: 96px;
  }
  .mb-xs-104 {
    margin-bottom: 104px;
  }
  .mb-xs-112 {
    margin-bottom: 112px;
  }
  .mb-xs-120 {
    margin-bottom: 120px;
  }
  .mt-xs-0 {
    margin-top: 0 !important;
  }
  .mt-xs-8 {
    margin-top: 8px;
  }
  .mt-xs-16 {
    margin-top: 16px;
  }
  .mt-xs-24 {
    margin-top: 24px;
  }
  .mt-xs-32 {
    margin-top: 32px;
  }
  .mt-xs-40 {
    margin-top: 40px;
  }
  .mt-xs-48 {
    margin-top: 48px;
  }
  .mt-xs-56 {
    margin-top: 56px;
  }
  .mt-xs-64 {
    margin-top: 64px;
  }
  .mt-xs-72 {
    margin-top: 72px;
  }
  .mt-xs-80 {
    margin-top: 80px;
  }
  .mt-xs-88 {
    margin-top: 88px;
  }
  .mt-xs-96 {
    margin-top: 96px;
  }
  .mt-xs-104 {
    margin-top: 104px;
  }
  .mt-xs-112 {
    margin-top: 112px;
  }
  .mt-xs-120 {
    margin-top: 120px;
  }
  .p-xs-0 {
    padding: 0;
  }
  .pt-xs-0 {
    padding-top: 0;
  }
  .pt-xs-8 {
    padding-top: 8px;
  }
  .pt-xs-16 {
    padding-top: 16px;
  }
  .pt-xs-24 {
    padding-top: 24px;
  }
  .pt-xs-32 {
    padding-top: 32px;
  }
  .pt-xs-40 {
    padding-top: 40px;
  }
  .pt-xs-48 {
    padding-top: 48px;
  }
  .pt-xs-64 {
    padding-top: 64px;
  }
  .pt-xs-72 {
    padding-top: 72px;
  }
  .pt-xs-80 {
    padding-top: 80px;
  }
  .pt-xs-88 {
    padding-top: 88px;
  }
  .pt-xs-96 {
    padding-top: 96px;
  }
  .pt-xs-104 {
    padding-top: 104px;
  }
  .pt-xs-112 {
    padding-top: 112px;
  }
  .pt-xs-120 {
    padding-top: 120px;
  }
  .pt-xs-160 {
    padding-top: 160px;
  }
  .pt-xs-180 {
    padding-top: 180px;
  }
  .pt-xs-240 {
    padding-top: 240px !important;
  }
  .pb-xs-0 {
    padding-bottom: 0;
  }
  .pb-xs-8 {
    padding-bottom: 8px;
  }
  .pb-xs-16 {
    padding-bottom: 16px;
  }
  .pb-xs-24 {
    padding-bottom: 24px;
  }
  .pb-xs-32 {
    padding-bottom: 32px;
  }
  .pb-xs-40 {
    padding-bottom: 40px;
  }
  .pb-xs-48 {
    padding-bottom: 48px;
  }
  .pb-xs-64 {
    padding-bottom: 64px;
  }
  .pb-xs-72 {
    padding-bottom: 72px;
  }
  .pb-xs-80 {
    padding-bottom: 80px;
  }
  .pb-xs-88 {
    padding-bottom: 88px;
  }
  .pb-xs-96 {
    padding-bottom: 96px;
  }
  .pb-xs-104 {
    padding-bottom: 104px;
  }
  .pb-xs-112 {
    padding-bottom: 112px;
  }
  .pb-xs-120 {
    padding-bottom: 120px;
  }
  .pb-xs-180 {
    padding-bottom: 180px;
  }
  .pb-xs-240 {
    padding-bottom: 240px;
  }
}
.text-justify {
  text-align: justify;
}

/* contact area */

/* contact area end */
